﻿@model Abatap.Web.Models.Customer

@{
    ViewBag.Title = "Nowy klient (MVC)";
}

<h2>Nowy klient</h2>
@using (Html.BeginForm())
{
    <p>Imie: @Html.EditorFor(x => x.Name)</p>
    <p>Nazwisko: @Html.EditorFor(x => x.Surname)</p>
    <p>Pesel: @Html.EditorFor(x=>x.PersonalId)</p>
    <input type="submit" value="Dodaj">
}
