﻿
@{
    ViewBag.Title = "AddBackbone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Nowy klient (Backbone)";
}

<h2>Nowy klient</h2>
<div id="Content"></div>


<script type="text/template" id="addTemplate">
    <p><label>Imie: </label><input type="text" id="addFirstName" /></p>
    <p><label>Nazwisko: </label><input type="text" id="addLastName" /></p>
    <p><label>Pesel: </label><input type="text" id="addPesel" /></p>
    <p><input type="button" id="add_button" value="Dodaj" /></p>
</script>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/underscore.js"></script>
<script src="~/Scripts/backbone.js"></script>


<script src="~/Scripts/AddBackbone/Add.js"></script>


