﻿@using Abatap.Web.Models
@model CustomerListModel

@{
    ViewBag.Title = "Lista klientów";
}

<h2>Lista klientów</h2>

<table>
    @foreach (Customer item in Model.CustomerList)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Surname</td>
        </tr>
    }
</table>

<p> </p>
<p><a href="/CustomerList/Add">Dodaj klienta (MVC)</a></p>
<p>@Html.ActionLink("Dodaj klienta (Backbone)", "AddBackbone", "CustomerList")</p>
<h6>Data wygenerowania: @Model.GeneratedDate.ToShortDateString()</h6>
